{% load static %}

<html class="no-js" lang="en">
  
  <head>

    <!--- basic page needs
	================================================== -->
    <meta charset="utf-8">
    <title>Hanyue's Blog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
  </head>

  <body>

    <!-- preloader
	 ================================================== -->
    <div id="preloader">
      <div id="loader" class="dots-fade">
	<div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
             ================================================== -->
	<header class="s-header">
	  
	  <div class="header__top">
	    
	    <div class="header__logo">
	      
	      <a class="site-logo" href="{% url 'post_list' %}">
		
		<img src="{% static 'images/logo.png' %}" alt="Homepage">
		
	      </a>
	      
	    </div>

	    <div class="header__search">
	      
	      <form role="search" method="get" class="header__search-form" action="#">
		<label>
		  
		  <span class="hide-content">Search for:</span>
		  
		  <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
		  
		</label>
		
		<input type="submit" class="header__search-submit" value="Search">
		
	      </form>
	      
	      <a href="#0" title="Close Search" class="header__search-close">Close</a>
	    </div>  <!-- end header__search -->

	    <!-- toggles -->
	    <a href="#0" class="header__search-trigger"></a>
	    
	    <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

	  </div> <!-- end header__top -->

	  <nav class="header__nav-wrap">

	    <ul class="header__nav">

	      <li class="current"><a href="/" title="">Home</a></li>
	      <li><a href="{% url 'post_list'  %}" title="">Blog</a></li>

	      <li><a href="{% url 'cv' %}" title="">CV</a></li>

	      <li><a href="{% url 'about' %}" title="">About</a></li>

	    </ul> <!-- end header__nav -->

	    <ul class="header__social">

	      <li class="ss-facebook">

		<a href="https://facebook.com/">
		  <span class="screen-reader-text">Facebook</span>
		</a>

	      </li>

	      <li class="ss-twitter">

		<a href="#0">
		  <span class="screen-reader-text">Twitter</span>
		</a>

	      </li>

	    </ul>

	  </nav> <!-- end header__nav-wrap -->

	</header> <!-- end s-header -->
	
<!-- site content================================================== -->

<div class="s-content content">

  <main class="row content__page">
    
    <section class="column large-full entry format-standard">

      <div class="media-wrap">

	<div>

	  <img src="images/thumbs/contact/contact-1000.jpg" srcset="images/thumbs/contact/contact-2000.jpg 2000w, images/thumbs/contact/contact-1000.jpg 1000w, images/thumbs/contact/contact-500.jpg 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
	</div>

      </div>

      <div class="content__page-header">

	<h1 class="display-1">ZHANG Hanyue</h1>

      </div>
      
      <!-- end content__page-header -->

      <div class="row">

	<div class="column large-six tab-full">

	  <h4>EDUCATION</h4>

	  <p>Beijing Language and Culture University (BLCU), Haidian, Beijing, Computer Science.
	<br>University of Birmingham, Birmingham, U.K, MSci Computer Science.</p>
	  
	</div>

      </div>

      <div class="row">

	<div class="column large-six tab-full">

	  <h4>AWARDS</h4>

	  <p>2nd Prize Scholarship, October 2018
	<br>Individual Scholarship of Professional Learning, October 2019</p>
	  
	</div>

      </div>

      <div class="row">

	<div class="column large-six tab-full">

	  <h4>RELATED EXPERIENCE</h4>
	  <p><b>Python teaching/research, Wecode, Beijing</b>
	<br>March 2020 - September 2020
	<br>Responsible for the design, planning and implementation of python programming courses for children; Converted programming topics into accessible courses; Updated and iterated courses; Improved course quality.
	<br><b>Administrator, China National Offshore Oil Corporation (CNOOC), Beijing</b>
	<br>January 2019 - March 2019
	<br>Maintained the company profile on social media platforms; Negotiated with office equipment suppliers and service providers; Freelance website project.
	<br><b>We-Media blogger</b>
	<br>June 2017 - now
	<br>Daily management and execution of all social media content; Website layout and content design; Development and implementation of various communication strategies for affiliates.</p>
	  
	</div>

      </div>

      <div class="row">

	<div class="column large-six tab-full">

	  <h4>OTHER EXPERIENCE</h4>

	  <p><b>Student Union</b>
	<br>Worked as a member of the student union in BLCU, cooperated with more than 200 people, helped with organising school events.
	<br><b>Software Engineering Project</b>
	<br>Participated in the Beijing students' entrepreneurship project and established a team of four, acted as team leader. Constructed prototype for a phone application which allows user to get access to a virtual self-study room with checkin mode. The team won the Excellence Award.
	<br>Participated in the software engineering project in University of Birmingham, established a team of seven, acted as a team member. Constructed prototype of a psychological consultation app. The app uses big data, natural language processing and innovative design to connect users with psychological counsellors through VR to provide psychological counselling feedback.
	<br><b>Video Game Design</b>
	<br>Participated in game development project in University of Birmingham, established a team of six, acted as a team member. Responsible for the user interface of the game using Java language in the game development process.
	<br><b>Website Design</b>
	<br>Designed personal blog using Django.</p>
	  
	</div>

      </div>

      <div class="row">

	<div class="column large-six tab-full">

	  <h4>ADDITIONAL SKILLS</h4>

	  <p>C, C++, Java, Python, Perl, HTML, CSS,
	<br>Microsoft Office Suite,
	<br>Adobe Photoshop, Adobe Premiere, Adobe Dreamweaver,
	<br>Mother tongue Chinese, fluent in English.</p>
	  
	</div>

      </div>

      <div class="row">

	<div class="column large-six tab-full">

	  <h4>Contact Me</h4>

	  <p>hannahzhang1030@gmail.com</p>
	  
	</div>

      </div>

    </section>

  </main>

</div>

<!-- end s-content -->
	
        <!-- footer
        ================================================== -->
        <footer class="s-footer">

	  <div class="row">

	    <div class="column large-full footer__content">

	      <div class="footer__copyright">

		<span>Made by Hanyue Zhang</span>

	      </div>

	    </div>

	  </div>

	  <div class="go-top">

	    <a class="smoothscroll" title="Back to Top" href="#top"></a>

	  </div>

	</footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

  </body>

</html>
